allow init mpctl_data_file:sock_file write;
allow init self:rawip_socket { create setopt getopt };
allow init self:netlink_kobject_uevent_socket { create bind setopt read };

