allow perfd cameraserver:process signull;

allow perfd system_server:file write;
allow perfd cgroup:file r_file_perms;
allow perfd proc_kernel_sched:file rw_file_perms;
allow perfd sysfs_power_management:file rw_file_perms;
allow perfd sysfs_power_management:dir r_file_perms;
allow perfd sysfs_power_management:dir search;

allow perfd system_data_file:dir { add_name write };
allow perfd system_data_file:sock_file { create setattr write unlink };
allow perfd system_data_file:dir remove_name;
#allow perfd eas_sched:file { rw_file_perms };
#allow perfd eas_sched:dir { r_dir_perms  };

allow perfd mediacodec:process signull;
