[access "refs/heads/*"]
	label-Code-Review = -2..+2 group OnePlus 3 Maintainers
	label-Verified = -1..+1 group OnePlus 3 Maintainers
	submit = group OnePlus 3 Maintainers
	create = group OnePlus 3 Maintainers
	push = +force group OnePlus 3 Maintainers
	pushMerge = group OnePlus 3 Maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group OnePlus 3 Maintainers
