[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Oneplus3 Maintainers
	label-Verified = -1..+1 group Oneplus3 Maintainers
	submit = group Oneplus3 Maintainers
	create = group Oneplus3 Maintainers
	push = +force group Oneplus3 Maintainers
	pushMerge = group Oneplus3 Maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Oneplus3 Maintainers
